<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <title>Facebook canvas</title>

    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link href="{% static "css/gmaps.css" %}" rel="stylesheet">

  </head>
<body>

    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1 id="title">Please login to do something.</h1>
        </div>


        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true"
             data-auto-logout-link="true" data-scope="user_hometown, friends_hometown">
         </div>

        <fieldset id="buttons" disabled="true">
            <div class="well">
                <button type="button" class="btn btn-lg btn-primary" id="friend-map-button">Show your friends' hometowns on the map</button>
                <div id="map-canvas"></div>
            </div>
        </fieldset>
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=359353070879771";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
    <script src="{% static "js/friend_map.js" %}"></script>

</body>
</html>
