
 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cool stuff</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

  {% load staticfiles %}
  <script src="{% static "js/gmaps.js" %}"></script>
  
  <link rel="stylesheet" href="{% static "css/gmaps.css" %}">
  
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="map-canvas"></div>

 <div class="fb-like" data-href="http://group08.naf.cs.hut.fi/map/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
 
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://group08.naf.cs.hut.fi/map/" data-text="click if you like this :D" data-size="large" data-hashtags="ProClix">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div class="fb-comments" data-href="http://group08.naf.cs.hut.fi/map/" data-numposts="5" data-colorscheme="light"></div>


 </body>
</html>



