<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook fun</title>

    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">

  </head>
<body>

    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1 id="title">Please login to do something.</h1>
        </div>


        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true" data-scope="publish_actions, user_photos, friends_photos"></div>

        <fieldset id="buttons" disabled="true">
            <div class="well">
                <div><button type="button" class="btn btn-lg btn-primary" id="photo-button">Get latest tagged photos of yourself</button></div>
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                          <img src="http://placekitten.com/900/500" alt="">
                          <div class="carousel-caption">
                            <h3>Kitteh Cat</h3>
                            <p>Kitteh Cat wants to see Facebook photos of you.</p>
                          </div>
                        </div>
                        <div class="item">
                          <img src="http://placekitten.com/850/500" alt="">
                          <div class="carousel-caption">
                            <h3>Kitteh Cat</h3>
                            <p>Kitteh Cat wants to see Facebook photos of you.</p>
                          </div>
                        </div>
                        <div class="item">
                          <img src="http://placekitten.com/1000/500" alt="">
                          <div class="carousel-caption">
                            <h3>Kitteh Cat</h3>
                            <p>Kitteh Cat wants to see Facebook photos of you.</p>
                          </div>
                        </div>
                        <div class="item">
                          <img src="http://placekitten.com/1100/500" alt="">
                          <div class="carousel-caption">
                            <h3>Kitteh Cat</h3>
                            <p>Kitteh Cat wants to see Facebook photos of you.</p>
                          </div>
                        </div>
                        <div class="item">
                          <img src="http://placekitten.com/1200/500" alt="">
                          <div class="carousel-caption">
                            <h3>Kitteh Cat</h3>
                            <p>Kitteh Cat wants to see Facebook photos of you.</p>
                          </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>

            </div>

            <div class="well">
                <p class="bg-success" id="pic-post-success" hidden>Image successfully posted!</p>
                <p>Image URL: <input type="url" id="image-url"></p>
                <button type="button" class="btn btn-lg btn-primary" id="image-post-button">Post Picture</button>

            </div>

            <div class="well">
                <p class="bg-success" id="text-post-success" hidden>Successfully posted some text!</p>
                <button type="button" class="btn btn-lg btn-primary" id="fb-post-button">Post some text to Facebook</button>
            </div>
        </fieldset>
        
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=359353070879771";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>
    <script src="{% static "js/fb_fun.js" %}"></script>


</body>
</html>
